*{
    background-color: bisque;
}

h1{
    text-align: center;
    background-color: rgba(184, 115, 19, 0.855);
    font-family: 'Times New Roman';
}
.lasagna,
.ramen{
    heght: auto;
    width: 400px;
}
h2{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color:chocolate
}
